<!doctype html>
<html lang="en" ng-app="pg">
<head>
    <meta charset="UTF-8">
    <title>Password Generator 5</title>
    
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script src="js/script.js"></script>

    <style>
        body { padding-top: 2em; }
    </style>

</head>
<body>
    
    <div class="container" ng-controller="MainCtrl">
      
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <form class="form-inline" onsubmit="return false;">
                            <div class="form-group">
                            <input type="text" class="form-control" id="char-count" ng-model="charCount" ng-change="makePassword()">
                            </div>
                            <div class="form-group">
                            <button class="btn btn-default"><label for="ab" class="checkbox-inline"><input type="checkbox" id="ab" ng-model="samples[0].isSet" ng-change="makePassword()">
                                a-b </label></button>
                            </div>
                            <div class="form-group">
                            <button class="btn btn-default"><label for="AB" class="checkbox-inline"><input type="checkbox" id="AB" ng-model="samples[1].isSet" ng-change="makePassword()">
                                A-B</label></button>
                            </div>
                            <div class="form-group">
                            <button class="btn btn-default"><label for="symbols" class="checkbox-inline"><input type="checkbox" id="symbols" ng-model="samples[2].isSet" ng-change="makePassword()">
                                 +-*@#%=?!_;./</label></button>
                            </div>                                 
                            <div class="form-group">
                            <button type="button" class="btn btn-default btn-md" ng-click="makePassword()">
                                <span class="glyphicon glyphicon-refresh"></span> Regenerate
                            </button>
                            </div>                    
                        </form>
                    </div>
                    <div class="panel-body">
                        <p>
                            <strong>Password:</strong>
                        </p>
                        <div class="well">
                            <h1>{{generatedPassword}} </h1>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
        
    </div>    
    
</body>
</html>